* {
  background-color: #e0ffe0;
  font-family: "Benne", serif;
}

h4 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

h1 {
  text-align: center;
  padding-block: 45px;
}

.container {
  text-align: center;
}

button {
  padding: 10px;
  margin: 24px;
  cursor: pointer;
  font-size: 24px;
  background-color: #d8b2d8;
  color: #66ff66;
  border-radius: 15px;
}
